# invoke rewrite engine
RewriteEngine On
RewriteBase /

Options -Indexes
<IfModule mod_negotiation.c>
	Options -MultiViews
</IfModule>

# Specific redirections
RewriteRule ^index\.html$ / [L,R=301]
RewriteCond %{QUERY_STRING} ^olsPage=cart$
RewriteRule ^online-store$ online-store_olsPage-cart [L,R=301,QSD]
RewriteRule ^ticket-bookings-%26-events$ ticket-bookings---events [L,R=301,QSD]

RewriteCond %{QUERY_STRING} ^path=$
RewriteRule ^aaj\.php$ aaj_path- [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes$
RewriteRule ^aaj\.php$ aaj_path-_hermes [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05$
RewriteRule ^aaj\.php$ aaj_path-_hermes_bosnacweb05 [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd$
RewriteRule ^aaj\.php$ aaj_path-_hermes_bosnacweb05_bosnacweb05bd [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd/b2756$
RewriteRule ^aaj\.php$ aaj_path-_hermes_bosnacweb05_bosnacweb05bd_b2756 [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd/b2756/ipg\.nigeriansinnovascoti$
RewriteRule ^aaj\.php$ aaj_path-_hermes_bosnacweb05_bosnacweb05bd_b2756_ipg_nigeriansinnovascoti [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd/b2756/ipg\.nigeriansinnovascoti/wb_nigeriansinnovascotia\.org/hex_configgrab$
RewriteRule ^aaj\.php$ hex_configgrab [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd/b2756/ipg\.nigeriansinnovascoti/wb_nigeriansinnovascotia\.org/hex_sym404$
RewriteRule ^aaj\.php$ hex_sym404 [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd/b2756/ipg\.nigeriansinnovascoti/wb_nigeriansinnovascotia\.org/viewer$
RewriteRule ^aaj\.php$ viewer [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd/b2756/ipg\.nigeriansinnovascoti/wb_nigeriansinnovascotia\.org/wp$
RewriteRule ^aaj\.php$ wp [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^C=M;O=A$
RewriteRule ^hex_sym404$ hex_sym404/C-M-O-A [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^C=N;O=D$
RewriteRule ^hex_sym404$ hex_sym404/C-N-O-D [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^C=S;O=A$
RewriteRule ^hex_sym404$ hex_sym404/C-S-O-A [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=$
RewriteRule ^aaj\.php$ aaj.php/path- [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes$
RewriteRule ^aaj\.php$ aaj.php/path-_hermes [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05$
RewriteRule ^aaj\.php$ aaj.php/path-_hermes_bosnacweb05 [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd$
RewriteRule ^aaj\.php$ aaj.php/path-_hermes_bosnacweb05_bosnacweb05bd [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd/b2756$
RewriteRule ^aaj\.php$ aaj.php/path-_hermes_bosnacweb05_bosnacweb05bd_b2756 [L,R=301,QSD]
RewriteCond %{QUERY_STRING} ^path=/hermes/bosnacweb05/bosnacweb05bd/b2756/ipg\.nigeriansinnovascoti$
RewriteRule ^aaj\.php$ aaj.php/path-_hermes_bosnacweb05_bosnacweb05bd_b2756_ipg_nigeriansinnovascoti [L,R=301,QSD]

# Create pretty URLs
DirectorySlash Off

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ %1 [NC,L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} (.*)/$
RewriteRule ^(.*)/$ $1 [NC,L,R=301]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]
# End: Create pretty URLs

# Redirect all extensions to html
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.shtml$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.phtml$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.jhtml$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.htm$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.php$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.aspx$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.asp$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.jsp$ $1.html [L,NC,R=301]
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^(.*)\.apk$ $1.html [L,NC,R=301]
# End: Redirect all extensions to html
